{% extends 'core/base.html' %}
 
{% block title %} {{ current.name }} {% endblock title %}
 
<style type="text/css">
    BODY {

    }

    .message {
        width: 300px;
        background-color: #faf0e6;
        border-radius: 10px;
    }

    .message * {
        padding: 10px;
    }

    .title {
        font-weight: bold;
    }

    /* BEGIN COMMENTS */

    .comment {
        padding: 10px;
        margin: 10px;
        position: relative;
    }

    .comment_li {
        list-style: none;

    }

    .comment_last {
        padding: 10px;
        margin: 10px;
    }

    .comment_info {
        line-height: 24px;
        position: relative;
    }

    .comment_user {
        text-decoration: underline;
        margin-right: 10px;
        font-weight: bold;
        color: #666;
        font-size: .99em;
        cursor: pointer;
        float: left;
    }

    .comment_data {
        font-size: 11px;
        color: #666;
        margin-top: 10px;
    }

    .comment_text {
        margin-top: 10px;
        float: inherit;
        font-size: 1.08em;
        color: black;
    }

    .comment_reply_link {
        color: #004276;
        outline: none;
        text-decoration: none;
        vertical-align: baseline;
    }

    .comments_length {
        padding-left: 15px;
        font-weight: bold;
    }

    #form-comment {
        padding: 15px;
        margin: 15px;
        background-color: #faf0e6;
        width: 500px;
    }

    form label {
        float: left;
        width: 130px;
    }

    label[for=id_honeypot],
    #id_honeypot {
      display: none;
    }

    #cancel_reply {
        display: none;
    }

    .comments #cancel_reply {
      display: inline;
    }

    /* END COMMENTS */

</style>
 
{% block content %}
<div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">

{% include "watch/video_player.html" %}
</div>
 
<div class="col-lg-4 col-md-4 hidden-xs">

{% include "watch/right.html" %}
</div>

{% endblock content %}
 
{% block plyrScript %}
 
<script>
const player = new Plyr('#player');
$('video').bind('timeupdate', myfunction);
var ad = 'false';
 
function myfunction(){
time = this.currentTime;
if(ad == 'false'){
if (parseInt(time) == 120){
playAd();
}
}
}
player.on('ended', function(event) {
if (ad == 'true'){
ad = 'false';
player.source = {type: 'video',
sources: [
{{ cont|safe }}
],
};
$('video').bind('timeupdate', myfunction);
document.getElementsByTagName("video")[0].currentTime = 121;
player.play();
}
else {
player.stop();
}
});
function playAd(){
ad = 'true';
player.source = {type: 'video',
sources: [
{
src: 'http://gateway.ipfs.io/ipfs/Qmf2ncTDg7XjszqGVALN6n7qp69cqnYku7hsohidVugr7j',
type: 'video/mp4',
size: 360,
},
],
};
$('video').bind('timeupdate', myfunction);
player.play();
}
 
</script>
 
{% endblock plyrScript %}