<div class="info">
    <div class="custom-tabs">
        <div class="tabs-panel">
            <a href="#" class="active" data-tab="tab-1">
                <i class="cv cvicon-cv-about" data-toggle="tooltip" data-placement="top" title="About"></i>
                <span>About</span>
            </a>
            <a href="#" data-tab="tab-2">
                <i class="cv cvicon-cv-share" data-toggle="tooltip" data-placement="top" title="Share"></i>
                <span>Share</span>
            </a>
            <a href="#" data-tab="tab-3">
                <i class="cv cvicon-cv-download" data-toggle="tooltip" data-placement="top" title="Download"></i>
                <span>Download</span>
            </a>
            <a href="#" data-tab="tab-4">
                <i class="cv cv cvicon-cv-goto" data-toggle="tooltip" data-placement="top" title="Jump to"></i>
                <span>Jump to</span>
            </a>
            <a href="#" data-tab="tab-5">
                <i class="cv cvicon-cv-plus" data-toggle="tooltip" data-placement="top" title="Add to"></i>
                <span>Add to</span>
            </a>
            <div class="acide-panel hidden-xs">
                <a href="#"><i class="cv cvicon-cv-watch-later" data-toggle="tooltip" data-placement="top" title="Watch Later"></i></a>
                <a href="#"><i class="cv cvicon-cv-liked" data-toggle="tooltip" data-placement="top" title="Liked"></i></a>
                <a href="#"><i class="cv cvicon-cv-flag" data-toggle="tooltip" data-placement="top" title="Flag"></i></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix">
    
    </div>
</div>