{% load staticfiles %}
{% load i18n %}



    <!-- up next -->
    <div class="caption">
        <div class="left" style="padding-top:10px !important;">
            <a href="#">Up Next</a>
        </div>
        <div class="right">
            <table> <tr>
                <td><p style="color:#7e7e7e !important; padding-top:10px !important;">Autoplay &nbsp;&nbsp; </p></td>
                <td><form id="changeNSFWSTATUS" method="POST" style="display:inline-block;">{% csrf_token %}
                        {% if request.session.autoplay is True %}
                            <i class="cv fas fa-toggle-on" style="font-size: 22px; color: #28b47e;" onclick = "changeAutoplay()"></i>
                            <input type="hidden" name="autoplay" class="grey" value="False" id="autoplaystat" >
                        {% elif request.session.autoplay is False %}
                            <i class="cv fas fa-toggle-off" style="font-size: 22px;" onclick = "changeAutoplay()"></i>
                            <input type="hidden" name="autoplay" value="True" class="grey" id="autoplaystat">   
                        {% endif %}
                    </form>
                </td>
            </tr></table>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="list">
    
        {% for i in latest %}
        {% if forloop.counter == 1%}
            {% if request.session.autoplay is True %}
            <script>
                var vid = document.getElementById("player");
                vid.onended = function() {
                    window.location.href = "https://vidsocial.org/watch/{{i.featured}}/{{i.id}}/";
                };
            </script>
            {%endif%}
        {% endif %}
        <div class="h-video row">
            <div class="col-lg-6 col-sm-6">
                <div class="v-img">
                    <a href="{% url 'watch:index'  i.featured   i.id  %}"><img src='https://gateway.ipfs.io/ipfs/{{ i.thumbNail }}' alt="" style="width:17rem; height:9.4rem;"></a>
                    <div class="time">{{i.duration}}</div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="v-desc">
                    <a href="{% url 'watch:index'  i.featured   i.id  %}">{{i.name}}</a>
                </div>
                <div class="v-views">
                    {{i.views}} views
                </div>
                <div class="v-percent"><span class="fa fa-dollar"></span> {{ i.total_earning }}</div>
            </div>
            <div class="clearfix"></div>
        </div>
        {% endfor %}
        <div class="clearfix"></div>

    </div>
    <!-- END up next -->

    <!-- Recomended Videos -->
    <div class="caption">
        <div class="left">
            <a href="#">Recomended Videos</a>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="list">

        {% for i in recommended %}
        <div class="h-video row">
            <div class="col-lg-6 col-sm-6">
                <div class="v-img">
                    <a href="{% url 'watch:index'  i.recommend   i.id  %}"><img src='https://gateway.ipfs.io/ipfs/{{ i.thumbNail }}' alt="" height="100%" width="100%"></a>
                    <div class="time">{{i.duration}}</div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="v-desc">
                    <a href="{% url 'watch:index'  i.recommend   i.id  %}">{{i.name}}</a>
                </div>
                <div class="v-views">
                   {{i.views}} views
                </div>
                <div class="v-percent"><span class="fa fa-dollar"></span> {{ i.total_earning }}</div>
                
            </div>
            <div class="clearfix"></div>
        </div>
        {% endfor %}

    </div>
