{% load staticfiles %}
{% load widget_tweaks %}
<script>
        function followUnfollow(){
           $.ajax({
                           method:"POST",
                           url:"/followUnfollow/",
                           data: {
                                   'followUnfollowID': "{{ user.id }}",
                                   'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                                   },
                           success: function(data){
                                   // location.reload();
                                   if (data.status == '1'){
                                           document.getElementById('funf').innerHTML = 'Unfollow';
                                           document.getElementById('followerCount').innerHTML = data.totalFollower;
                                   }
                                   else if(data.status == '0'){
                                           document.getElementById('funf').innerHTML = 'Follow';
                                           document.getElementById('followerCount').innerHTML = data.totalFollower;
                                            
                                   }
                           }
                           });
                           return true; //<---- move it here

           }
   
   </script>

<div class="sv-video" >
    <video id="player" controls data-setup='{{ current.id }}'  poster='{% static "images/single-video.png" %}'>
        
        {% for quality, hash in video_hash.items %}
            <source src='http://gateway.ipfs.io/ipfs/{{ hash }}' type='video/mp4' size='{{ quality }}' />
        {% endfor %}

    </video>
</div>




<h1><a href="#">{{ current.name }}</a></h1>

<div class="author">
    <div class="author-head">
        <a href="/channel/{{ user.id }}/"><img src='{% static "images/channel-user.png" %}' alt="" class="sv-avatar"></a>
        <div class="sv-name">
            <div><a href="/channel/{{ user.id }}/">{{ user.channel_name }}</a>  {{ count }} Videos</div>
            <div class="c-sub">
                    
                            {% if request.user.is_authenticated %}
                                    {% if own_channel %}
                                    <div class="c-f">Followers</div>
                                    {% else %}
                                    
                                            {% if is_following %} 
                                            <form method="POST">
                                                    {% csrf_token %}
                                                    <button class="c-f" onclick="followUnfollow();return false;" id="funf">Unfollow</button>
                                            </form>
                                            {% else %}
                                            <form method="POST">
                                                    {% csrf_token %}
                                                    <button class="c-f" onclick="followUnfollow();return false;" id="funf">Follow</button>
                                            </form>
                                            {% endif %}
                                    {% endif %}
                            {% else %}
                            <a href ="/login" class="c-f">Follow</a>
                            {% endif %}
                    
                            
                    <div class="c-s" id="followerCount">
                            {{ followerscount }}
                    </div>
                   
                    <div class="clearfix"></div>
            </div> 
        
        </div>
    </div>
    <div class="author-border"></div>
    <div class="sv-views">
        <div class="sv-views-count">
            {{ current.views }} views
        </div>
        <div class="sv-views-progress">
                <div class="sv-views-progress-bar"></div>
            </div>
        <div class="sv-views-stats">
            <div  class="col-md-4">
                <form id="videolikeform" method="POST">{% csrf_token %}
                    <input type="hidden" value="{{ current.id }}" id="vidID">
                    <button style="margin:0; padding  :0 !important; color:white; background:transparent; border:none;" type="submit"><b>
                        <i class="fas fa-thumbs-up" {% if chkLike %} style="color:#ea2c5a"{% endif %} id="tu"></i></b> <span class="grey" id="totalLikes">{{ current.thumbsUp }}</span>
                    </button>
                    
                </form>
            </div>
            <div  class="col-md-4">
                <form id="videodislikeform" method="POST">{% csrf_token %}
                    <input type="hidden" value="{{ current.id }}" id="vidID">
                    <button style="margin:0; padding  :0 !important; color:white; background:transparent; border:none;" type="submit"><b>
                        <i class="fas fa-thumbs-down"  {% if chkDislike %} style="color:#ea2c5a"{% endif %} id="td"></i></b> <span class="grey" id="totalDisLikes">{{ current.thumbsDown }}</span>
                    </button>
                    
                </form>
               
            </div>
            <div  class="col-md-4"> <span class="v-percent" style="color:#ea2c5a"><span class="fa fa-dollar"></span> {{ current.total_earning }} </span> </div>
        </div>



    </div>


    <div class="clearfix"></div>

</div>
<div class="info">
        <div class="info-content">
            <h4>About:</h4>
            <p>{{ current.description }}</p>

            <h4>Blockchain URL's:</h4>
            <p class="sv-tags">
                    <span style='border:1px solid grey'><a href="{{ steem_url }}">View in Steem</a></span>
                    <span style='border:1px solid grey'><a href="{{ smoke_url }}">View in Smoke</a></span>
                    <span style='border:1px solid grey'><a href="{{ whale_url }}">View in Whale Share</a></span>
            </p>
            
            <h4>Tags :</h4>
            <p class="sv-tags">
                {%if current.tags %}
                    {%for tag in current.tags %}
                    <span><a href ="/tagged/{{ tag }}/">{{ tag }}</a></span>
                    {% endfor %}
                {% else %}
                No Tags
                {% endif %}

            </p>



            <div class="row date-lic">
                <div class="col-xs-6">
                    <h4>Release Date:</h4>
                    <p>2 Days ago</p>
                </div>
            </div>
        </div>
        
        <!-- Add comments here -->

        <!-- similar videos -->
            <div class="single-v-footer hidden-md hidden-lg">
                <div class="single-v-footer-switch">
                    <a href="#" class="active" data-toggle=".similar-v">
                        <i class="cv cvicon-cv-play-circle"></i>
                        <span>Similar Videos</span>
                    </a>
                    <a href="#" data-toggle=".comments">
                        <i class="cv cvicon-cv-comment"></i>
                        <span>236 Comments</span>
                    </a>
                </div>
                <div class="similar-v single-video video-mobile-02" style="display:block;">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-xs-12">
                                {% for i in recommended %}
                                <div class="h-video row">
                                        <div class="col-sm-12 col-xs-6">
                                        <div class="v-img">
                                            <a href="{% url 'watch:index'  i.recommend   i.id  %}"><img src='https://gateway.ipfs.io/ipfs/{{ i.thumbNail }}' alt="" height="100%" width="100%"></a>
                                            <div class="time">{{i.duration}}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-6">
                                        <div class="v-desc">
                                            <a href="{% url 'watch:index'  i.recommend   i.id  %}">{{i.name}}</a>
                                        </div>
                                        <div class="v-views">
                                        {{i.views}} views
                                        </div>
                                        <div class="v-percent"><span class="fa fa-dollar"></span> {{ i.total_earning }}</div>
                                        
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                    {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- END similar videos -->

               

                <!-- comments -->
                <div class="comments">
                    <div class="reply-comment">
                        <div class="rc-header"><i class="cv cvicon-cv-comment"></i> <span class="semibold">236</span> Comments</div>
                        <div class="rc-ava"><a href="#"><img src="images/ava5.png" alt=""></a></div>
                        <div class="rc-comment">
                            <form action="#" method="post">
                                <textarea rows="3">Share what you think?</textarea >
                                <button type="submit">
                                    <i class="cv cvicon-cv-add-comment"></i>
                                </button>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="comments-list">

                        <div class="cl-header">
                            <div class="c-nav">
                                <ul class="list-inline">
                                    <li><a href="#" class="active">Popular <span class="hidden-xs">Comments</span></a></li>
                                    <li><a href="#">Newest <span class="hidden-xs">Comments</span></a></li>
                                </ul>
                            </div>
                        </div>


                        <div class="row hidden-xs">
                            <div class="col-lg-12">
                                <div class="loadmore-comments">
                                    <form action="#" method="post">
                                        <button class="btn btn-default h-btn">Load more Comments</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END comments -->
            </div>


    

</div>
