{% load staticfiles %}
{% load widget_tweaks %}
<script>
        function followUnfollow(){
           $.ajax({
                           method:"POST",
                           url:"/followUnfollow/",
                           data: {
                                   'followUnfollowID': "{{ user.id }}",
                                   'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                                   },
                           success: function(data){
                                   // location.reload();
                                   if (data.status == '1'){
                                           document.getElementById('funf').innerHTML = 'Unfollow';
                                           document.getElementById('followerCount').innerHTML = data.totalFollower;
                                   }
                                   else if(data.status == '0'){
                                           document.getElementById('funf').innerHTML = 'Follow';
                                           document.getElementById('followerCount').innerHTML = data.totalFollower;
                                            
                                   }
                           }
                           });
                           return true; //<---- move it here

           }
   
   </script>
 <script>
     function closeAd(){
        $('#cc').fadeOut();
     }

     var vid = document.getElementById("player");
    var interval = setInterval(function() { 
    if (vid.currentTime >= 10) { 
        $('#cc').show();
        clearInterval(interval);
    }
    }, 1000);
    
    </script>
    
    <style>
    .close-icon {
      cursor: pointer;
      }

    #vv{
    float:left;
}
    #cc {
    position:absolute;
    float:left;
    z-index:300000;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    }
    .card-block{
        background-color: white;
    }
    </style>

<div class="sv-video" id="vv">
    <div class="card card-outline-danger text-center" id="cc" style="display:none;">
        <span class="pull-right clickable close-icon" data-effect="fadeOut" style="padding:5px;" onclick="closeAd()"><i class="fa fa-times"></i></span>
        <div class="card-block">
            <blockquote class="card-blockquote">
            <p class="grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
        </div>
    </div>

    <video id="player" controls data-setup='{{ current.id }}'  poster='{% static "images/single-video.png" %}'>
        {% for quality, hash in video_hash.items %}
            <source src='http://gateway.ipfs.io/ipfs/{{ hash }}' type='video/mp4' size='{{ quality }}' />
        {% endfor %}

    </video>
</div>






<h1><a href="#">{{ current.name }}</a></h1>

<div class="author">
    <div class="author-head">
        <a href="/channel/{{ user.id }}/"><img src='{% static "images/channel-user.png" %}' alt="" class="sv-avatar"></a>
        <div class="sv-name">
            <div><a href="/channel/{{ user.id }}/">{{ user.channel_name }}</a>  {{ count }} Videos</div>
            <div class="c-sub">
                    
                            {% if request.user.is_authenticated %}
                                    {% if own_channel %}
                                    <div class="c-f">Followers</div>
                                    {% else %}
                                    
                                            {% if is_following %} 
                                            <form method="POST">
                                                    {% csrf_token %}
                                                    <button class="c-f" onclick="followUnfollow();return false;" id="funf">Unfollow</button>
                                            </form>
                                            {% else %}
                                            <form method="POST">
                                                    {% csrf_token %}
                                                    <button class="c-f" onclick="followUnfollow();return false;" id="funf">Follow</button>
                                            </form>
                                            {% endif %}
                                    {% endif %}
                            {% else %}
                            <a href ="/login" class="c-f">Follow</a>
                            {% endif %}
                    
                            
                    <div class="c-s" id="followerCount">
                            {{ followerscount }}
                    </div>
                   
                    <div class="clearfix"></div>
            </div> 
        
        </div>
    </div>
    <div class="author-border"></div>
    <div class="sv-views">
        <div class="sv-views-count">
            {{ current.views }} views
        </div>
        <div class="sv-views-progress">
                <div class="sv-views-progress-bar"></div>
            </div>
        <div class="sv-views-stats">
            <div  class="col-md-4">
                <form id="videolikeform" method="POST">{% csrf_token %}
                    <input type="hidden" value="{{ current.id }}" id="vidID">
                    <button style="margin:0; padding  :0 !important; color:white; background:transparent; border:none;" type="submit"><b>
                        <i class="fas fa-thumbs-up" {% if chkLike %} style="color:#ea2c5a"{% endif %} id="tu"></i></b> <span class="grey" id="totalLikes">{{ current.thumbsUp }}</span>
                    </button>
                    
                </form>
            </div>
            <div  class="col-md-4">
                <form id="videodislikeform" method="POST">{% csrf_token %}
                    <input type="hidden" value="{{ current.id }}" id="vidID">
                    <button style="margin:0; padding  :0 !important; color:white; background:transparent; border:none;" type="submit"><b>
                        <i class="fas fa-thumbs-down"  {% if chkDislike %} style="color:#ea2c5a"{% endif %} id="td"></i></b> <span class="grey" id="totalDisLikes">{{ current.thumbsDown }}</span>
                    </button>
                    
                </form>
               
            </div>
            <div  class="col-md-4"> <span class="v-percent" style="color:#ea2c5a"><span class="fa fa-dollar"></span> {{ current.total_earning }} </span> </div>
        </div>



    </div>


    <div class="clearfix"></div>

</div>
<div class="info">
        <div class="info-content">
            <h4>About:</h4>
            <p>{{ current.description }}</p>

            <h4>Blockchain URL's:</h4>
            <p class="sv-tags">
                    <span style='border:1px solid grey'><a href="{{ steem_url }}">View in Steem</a></span>
                    <span style='border:1px solid grey'><a href="{{ smoke_url }}">View in Smoke</a></span>
                    <span style='border:1px solid grey'><a href="{{ whale_url }}">View in Whale Share</a></span>
            </p>
            
            <h4>Tags :</h4>
            <p class="sv-tags">
                {%if current.tags %}
                    {%for tag in current.tags %}
                    <span><a href ="/tagged/{{ tag }}/">{{ tag }}</a></span>
                    {% endfor %}
                {% else %}
                No Tags
                {% endif %}

            </p>



            <div class="row date-lic">
                <div class="col-xs-6">
                    <h4>Release Date:</h4>
                    <p>{{ uploaded_time }}</p>
                </div>
            </div>
        </div>
        
        <!-- Comments -->
        {% load threadedcomments_tags %}

        {% block javascript %}
            <script type="text/javascript">

                function show_reply_form(event) {
                    var $this = $(this);
                    var comment_id = $this.data('comment-id');

                    $('#id_parent').val(comment_id);
                    $('#form-comment').insertAfter($this.closest('.comment'));
                };

                function cancel_reply_form(event) {
                    $('#id_comment').val('');
                    $('#id_parent').val('');
                    $('#form-comment').appendTo($('#wrap_write_comment'));
                }

                $.fn.ready(function() {
                    $('.comment_reply_link').click(show_reply_form);
                    $('#cancel_reply').click(cancel_reply_form);
                })

            </script>
        {% endblock %}

        {% block content %}

            <div class="comments_wrapper" id="comments">
                {% render_comment_list for current %}

                <div id="wrap_write_comment">
                    {% render_comment_form for current %}
                </div>
            </div>
        {% endblock %}

        <!-- End of Comments -->
</div>
