{% load staticfiles %}
{% load widget_tweaks %}

<div class="sv-video" >
    <video id="player" controls data-setup='{{ current.id }}'  poster='{% static "images/single-video.png" %}'>
        
        {% for quality, hash in video_hash.items %}
            <source src='http://gateway.ipfs.io/ipfs/{{ hash }}' type='video/mp4' size='{{ quality }}' />
        {% endfor %}

    </video>
</div>




<h1><a href="#">{{ current.name }}</a></h1>

<div class="acide-panel acide-panel-top">
    <a href="#"><i class="cv cvicon-cv-watch-later" data-toggle="tooltip" data-placement="top" title="Watch Later"></i></a>
    <a href="#"><i class="cv cvicon-cv-liked" data-toggle="tooltip" data-placement="top" title="Liked"></i></a>
    <a href="#"><i class="cv cvicon-cv-flag" data-toggle="tooltip" data-placement="top" title="Flag"></i></a>
</div>
<div class="author">
    <div class="author-head">
        <a href="/channel/{{ user.id }}/"><img src='{% static "images/channel-user.png" %}' alt="" class="sv-avatar"></a>
        <div class="sv-name">
            <div><a href="/channel/{{ user.id }}/">{{ user.channel_name }}</a> . {{ count }} Videos</div>
            <div class="c-sub">
                    <form method="POST">
                            {% csrf_token %}
                            {% if request.user.is_authenticated %}
                                    {% if own_channel %}
                                    <div class="c-f">Followers</div>
                                    {% else %}
                                            {% if is_following %} 
                                                    <button class="c-f" onclick="followUnfollow();return false;" id="funf">Unfollow</button>
                                            {% else %}
                                                    <button class="c-f" onclick="followUnfollow();return false;" id="funf">Follow</button>
                                            {% endif %}
                                    {% endif %}
                            {% else %}
                            <a href ="/login" class="c-f">Follow</a>
                            {% endif %}
                    </form>
                            
                    <div class="c-s" id="followerCount">
                            {{ followerscount }}
                    </div>
                    <script>
                            function followUnfollow(){
                               $.ajax({
                                               method:"POST",
                                               url:"/followUnfollow/",
                                               data: {
                                                       'followUnfollowID': "{{ user.id }}",
                                                       'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                                                       },
                                               success: function(data){
                                                       // location.reload();
                                                       if (data.status == '1'){
                                                               document.getElementById('funf').innerHTML = 'Unfollow';
                                                               document.getElementById('followerCount').innerHTML = data.totalFollower;
                                                       }
                                                       else if(data.status == '0'){
                                                               document.getElementById('funf').innerHTML = 'Follow';
                                                               document.getElementById('followerCount').innerHTML = data.totalFollower;
                                                                
                                                       }
                                               }
                                               });
                                               return true; //<---- move it here
                    
                               }
                       
                       </script>
                    <div class="clearfix"></div>
            </div>  
        </div>
        <a href="#" class="author-btn-add"><i class="cv cvicon-cv-plus"></i></a>
    </div>
    <div class="author-border"></div>
    <div class="sv-views">
        <div class="sv-views-count">
            {{ current.views }} views
        </div>
        <div class="sv-views-progress">
                <div class="sv-views-progress-bar"></div>
            </div>
        <div class="sv-views-stats">
            <div  class="col-md-4">
                <form id="videolikeform" method="POST">{% csrf_token %}
                    <input type="hidden" value="{{ current.id }}" id="vidID">
                    <button style="margin:0; padding  :0 !important; color:white; background:transparent; border:none;" type="submit"><b>
                        <i class="fas fa-thumbs-up" {% if chkLike %} style="color:#ea2c5a"{% endif %} id="tu"></i></b> <span class="grey" id="totalLikes">{{ current.thumbsUp }}</span>
                    </button>
                    
                </form>
            </div>
            <div  class="col-md-4">
                <form id="videodislikeform" method="POST">{% csrf_token %}
                    <input type="hidden" value="{{ current.id }}" id="vidID">
                    <button style="margin:0; padding  :0 !important; color:white; background:transparent; border:none;" type="submit"><b>
                        <i class="fas fa-thumbs-down"  {% if chkDislike %} style="color:#ea2c5a"{% endif %} id="td"></i></b> <span class="grey" id="totalDisLikes">{{ current.thumbsDown }}</span>
                    </button>
                    
                </form>
               
            </div>
            <div  class="col-md-4"> <span class="v-percent" style="color:#ea2c5a"><span class="fa fa-dollar"></span> {{ current.total_earning }} </span> </div>
        </div>



    </div>


    <div class="clearfix"></div>

</div>
<div class="info">
        <div class="info-content">
            <h4>About:</h4>
            <p>{{ current.description }}</p>

            <h4>Blockchain URL's:</h4>
            <p class="sv-tags">
                    <span style='border:1px solid grey'><a href="{{ steem_url }}">View in Steem</a></span>
                    <span style='border:1px solid grey'><a href="{{ smoke_url }}">View in Smoke</a></span>
                    <span style='border:1px solid grey'><a href="{{ whale_url }}">View in Whale Share</a></span>
            </p>
            
            <h4>Tags :</h4>
            <p class="sv-tags">
                {%if current.tags %}
                    {%for tag in current.tags %}
                    <span>{{ tag }}</span>
                    {% endfor %}
                {% else %}
                No Tags
                {% endif %}

            </p>



            <div class="row date-lic">
                <div class="col-xs-6">
                    <h4>Release Date:</h4>
                    <p>2 Days ago</p>
                </div>
            </div>
        </div>



 

            <!-- comments -->
            <div class="comments">
                
                <div class="comments-list">

                    <div class="cl-header">
                    </div>

                    <div class="reply-comment">
                            <div class="rc-header"><i class="cv cvicon-cv-comment"></i> <span class="semibold">{{ all_comments|length }}</span> Comments</div>
                            <div class="rc-ava"><a href="#"><img src="images/ava5.png" alt=""></a></div>
                            <div class="rc-comment">
                                <form action="" id ="addcommentForm" method="POST">
                                    {% csrf_token %}
                                    {{ cmntForm.comment|attr:"placeholder:Share what you think?" }}
                                    <button type="submit">
                                        <i class="cv cvicon-cv-add-comment"></i>
                                    </button>
                                </form>
                                <p style="colr:red;" id="ertxt"></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    <!-- comment -->
                    <div id="cmntbox">
                        {% if all_comments %}
                         {% for cmnt in all_comments %}
                         <div class="cl-comment">
                                <div class="cl-avatar"><a href="/channel/{{ cmnt.user.id }}/"><img src="https://gateway.ipfs.io/ipfs/{{ cmnt.user.profile_picture }}" style="height:80px; width:80px; border-radius:100px;" alt=""></a></div>
                                <div class="cl-comment-text">
                                    <div class="cl-name-date"><a href="/channel/{{ cmnt.user.id }}/">{{ cmnt.user.first_name }} {{ cmnt.user.last_name }}</a></div>
                                    <div class="cl-text">{{ cmnt.comment }}</div>

                                    <div class="cl-meta">
                                        <div  class="col-md-8">
                                            <div  class="col-md-2">
                                                <form id="videolikeform" method="POST">{% csrf_token %}
                                                    <input type="hidden" value="{{ current.id }}" id="vidID">
                                                    <button style="margin:0; padding  :0 !important; color:white; background:transparent; border:none;" type="submit"><b>
                                                        <i class="fas fa-thumbs-up" {% if chkLike %} style="color:#ea2c5a"{% endif %} id="tu"></i></b> <span class="grey" id="totalLikes">{{ cmnt.comment_likes }}</span>
                                                    </button>
                                                    
                                                </form>
                                            </div>
                                            <div  class="col-md-2">
                                                <form id="videodislikeform" method="POST">{% csrf_token %}
                                                    <input type="hidden" value="{{ current.id }}" id="vidID">
                                                    <button style="margin:0; padding  :0 !important; color:white; background:transparent; border:none;" type="submit"><b>
                                                        <i class="fas fa-thumbs-down"  {% if chkDislike %} style="color:#ea2c5a"{% endif %} id="td"></i></b> <span class="grey" id="totalDisLikes">{{ cmnt.comment_dislikes }}</span>
                                                    </button>
                                                    
                                                </form>
                                            </div>
                                            <div  class="col-md-5">{{ cmnt.comment_replies }} Replies</div>
                                        </div>
                                          
                                        </div><br>
                                        {% if cmnt.comment_replies %}
                                            <div class="cl-replies"><a href="#">View all replies <i class="fa fa-chevron-down" aria-hidden="true"></i></a></div>
                                            
                                        {% endif %}
                                        <br>
                                        <div  class="col-md-12">
                                                <div class="reply-comment">
                                            <div class="rc-comment">
                                                    <form action="" id="postreply{{ cmnt.id }}" method="POST">
                                                        {% csrf_token %}
                                                        <input type ="hidden" id="comment_id_{{ cmnt.id }}" value="{{ cmnt.id }}">
                                                        <textarea rows="1" style="height:50px; padding:10px;" id="reply_{{ cmnt.id }}" placeholder="Add a reply"></textarea>
                                                        
                                                        <button id="sub{{ cmnt.id }}"  onclick="addreply({{ cmnt.id }});return false;">
                                                                <i class="cv cvicon-cv-add-comment"></i>
                                                        </button>
                                                    
                                                    </form>
                                                    <p style="colr:red;" id="ertxt{{ cmnt.id }}"></p>
                                                </div>
                                            </div>

                                        </div>
                                        <div id="replyFor{{ cmnt.id }}">
                                            
                                        </div>
                                        </div>
                                        
                                        </div>
                                <div class="clearfix"></div>
                            </div>
                         {% endfor %}
                        {% else %}
                         No Comments.
                        {% endif %}
                        
                    </div>
                    <!-- END comment -->

    
                    <div class="row hidden-xs">
                        <div class="col-lg-12">
                            <div class="loadmore-comments">
                                <form action="#" method="post">
                                    <button class="btn btn-default h-btn">Load more Comments</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END comments -->
        </div>
    

        


