{% extends 'core/base.html' %}

{% block navigation %}
{% load staticfiles %}
{% load widget_tweaks %}

{% include "core/navbar.html" %}
{% include "core/goto.html" %}

{% endblock navigation %}

{% block content %}

<div class="content-wrapper upload-page edit-page" style="display:none">
    <div class="container-fluid u-details-wrap">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="u-details">
                            <div class="row">
                                <div class="col-lg-12 ud-caption">Upload Details</div>
                                <div class="col-lg-4" id="vidcontainer">
                                    <div style="height:30vh;  background-color:black !important; padding-top:60px;" controls="controls" width="100%" height="30%;" >                          
                                        <div>
                                                <center><i class="fas fa-spinner fa-spin" style="font-size:30px;"></i>
                                                    <br>
                                                    Uploading video...
                                                </center>


                                        </div>
                                    </div>

                                    </div>
                                <div class="col-lg-8">
                                    <div class="u-size">Your Video is still uploading, please keep this page open until it's done</div>
                                    <div class="u-progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 35%;">
                                                <span class="sr-only">0</span><span class="glyphicon glyphicon-thumbs-up" style="float:right"> Complete</span>
                                            </div>
                                        </div>
                                        <div class="u-close">
                                            <a href="#"><i class="cvicon-cv-cancel"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
                <div class="col-lg-4">
                </div>
            <div class="col-lg-8">
                    <form class="form-horizontal" enctype='multipart/form-data' method="POST">
                            {% csrf_token %} 
                <div class="u-form " style="margin-bottom:10%;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="e1">Video Title</label>
                                {{ postOptionsForm.name|attr:"placeholder:Title for your video"}}
                            </div>
                        </div>
                        <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="e2">Description</label>
                                    {{ postOptionsForm.description|attr:"Write some words about your video"}}                           
                            </div>
                        </div>
                        <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="e2">Tags</label>
                                    {{ postOptionsForm.video_tags|attr:"placeholder:Gaming, Funny, Prank,"}}                           
                            </div>
                        </div>

                        
                    </div>

                    
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="id_language">Language in Video (Optional)</label>
                                {{ postOptionsForm.language}}
                            </div>
                        </div>

                        <div class="col-sm-7">
                                <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                        <label class='pull-left'> Choose where to post:</label> <br>
                                        </div>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    
                                    {% if keychk.smokechk is True %}
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                            <div class="checkbox">
                                                    <label>
                                                        <label class="checkbox">
                                                                {{ postOptionsForm.smoke}}
                                                            <span class="arrow"></span>
                                                        </label> Smoke
                                                    </label>
                                                </div>
                                    </div>
                                        
                                    
                                    {% endif %}
                                    {% if keychk.steemchk is True %}
                                    <div class="col-lg-4 col-md-4 col-sm-6 p-0">
                                            <div class="checkbox">
                                                    <label>
                                                        <label class="checkbox">
                                                                {{ postOptionsForm.steem}}
                                                            <span class="arrow"></span>
                                                        </label> Steem
                                                    </label>
                                                </div>
                                        </div>
                                    
                                    {% endif %}
                                    
                                    {% if keychk.whalechk is True %}
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                            <div class="checkbox">
                                                    <label>
                                                        <label class="checkbox">
                                                                {{ postOptionsForm.whale}}
                                                            <span class="arrow"></span>
                                                        </label> Whale
                                                    </label>
                                                </div>
                                        </div>

                                    {% endif %}
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                            <span id="tt"></span>
                                    </div>

                            </div>
                             </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12" style= 'margin-bottom:10%;'>
                                <div class="col-lg-6 col-md-6 col-sm-12" >
                                        <div class="checkbox" >
                                                <label>
                                                    <label class="checkbox">
                                                            {{ postOptionsForm.monetize}}
                                                        <span class="arrow"></span>
                                                    </label> 
                                                    Accept and monetize this video.
                                                </label>
                                            </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12" >
                                    <div class="checkbox">
                                            <label>
                                                <label class="checkbox">
                                                        {{ postOptionsForm.nsfw}}
                                                    <span class="arrow"></span>
                                                </label> 
                                                Tag this video as NSFW.
                                            </label>
                                </div>
                            </div>
                        </div>
                    

                <div class="u-area mt-small">
                        <button type="submit" class="btn btn-cv1">Publish</button>
                </div>
                <div class="u-terms">
                    <p>By submitting your videos to circle, you acknowledge that you agree to circle's <a href="#">Terms of Service</a> and <a href="#">Community Guidelines</a>.</p>
                    <p class="hidden-xs">Please be sure not to violate others' copyright or privacy rights. Learn more</p>
                </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
<script>
    $('#id_smoke').click(function() {

        if(this.checked){
            document.getElementById('tt').innerHTML = ' Warning: Smoke is a cannabis first network and is not a regular DPOS blogging platform. You may get flagged for inappropriate contents.';
            }
        else{
            document.getElementById('tt').innerHTML = '';
        }
        });
</script>  

<div class="col-lg-12 upload-page">

    <div class="u-area">
        <form method="post" enctype='multipart/form-data' id="uploadForm">
            {% csrf_token %}
    
            <label for="upload" style="cursor:pointer">
                <i class="cv cvicon-cv-upload-video"></i>
            </label>


            <p class="u-text1">Select Video files to upload</p>
            {{ form.as_p }}

        </form>
    </div>

    <div class="u-terms">
        <p>By submitting your videos to circle, you acknowledge that you agree to circle's <a href="#">Terms of Service</a>
            and <a href="#">Community Guidelines</a>.</p>
        <p class="hidden-xs">Please be sure not to violate others' copyright or privacy rights. Learn more</p>
    </div>
</div>

<script src=" https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>

<script>

var csrftoken = $.cookie('csrftoken');
function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$(document).ready(function(){
   $('#upload').change(function(e){
        $(".upload-page").hide();
        $(".edit-page").show();
        e.preventDefault();
        // 构建FormData对象
        var form_data = new FormData();
        form_data.append('file', $('#upload')[0].files[0]);
        $.ajax({
        url: '/upload/ajax_upload/',
        data: form_data,
        type: 'POST',
        dataType: 'json',
        // 告诉jQuery不要去处理发送的数据, 发送对象。
        processData : false,
        // 告诉jQuery不要去设置Content-Type请求头
        contentType : false,
        // 获取POST所需的csrftoken
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }},
        xhr: function() {
                var myXhr = $.ajaxSettings.xhr();
                if(myXhr.upload){
                    myXhr.upload.addEventListener('progress',progress, false);
                }
                return myXhr;
        },
        success: function (data) {
            if(data['error_msg']) {
                var content = '<li>Only jpg, pdf and xlsx files are allowed.</li>';
                $('ul.errorlist').html(content);
            }
            else
            {
            var content= "Video uploaded and processed succesfully";
            $('.u-size').html(content);
            $('.progress-bar').attr('aria-valuenow', '100').css('width', "100%").text("100%");
            var vid ="<video poster='http://gateway.ipfs.io/ipfs/{{ request.session.thumbnailHash }}'  controls='controls'>"+
                                        "<source src='http://gateway.ipfs.io/ipfs/{{ request.session.video_only }}' type='video/mp4; codecs='avc1.42E01E, mp4a.40.2''>"+
                                    "</video>";
            document.getElementById('vidcontainer').innerHTML=vid;
             }
           },
        });
   });
 });

 function progress(e){

    if(e.lengthComputable){
        var max = e.total;
        var current = e.loaded;

        var Percentage = (current * 100)/max;
        
        if (Percentage == 100)
        {
            Percentage = Percentage - 1;
        }
        $('.progress-bar').attr('aria-valuenow', Percentage).css('width', Percentage + "%").text(Percentage + "%");


        if(Percentage >= 100)
        {
            console.log("Upload completed")
           // process completed  
        }
    }  
 }

  </script>

{% endblock content %}

{% block title %} Upload {% endblock title %}