{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %} Upload {% endblock title %}

{% block navigation %}

{% include "core/navbar.html" %}
{% include "core/goto.html" %}

{% endblock navigation %}

{% block content %}

<div class="col-lg-12 upload-page" style="margin-bottom:50px;">
    <div class="container-fluid col-md-12" style="height:55vh">
        <div class="col-md-4" style="height:55vh">
            <video poster='{% static "images/single-video.png" %}' style="width:100%;height:40%;" controls="controls"
            width="100%" height="30%">
                <source src='http://gateway.ipfs.io/ipfs/{{ filehash }}' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            </video>
        </div>  
        <div class="col-md-8 row" style="height:55vh; border: 1px rgb(219, 219, 219);">
            <div class="l-form">
                <form class="form-horizontal" method="POST">
                {% csrf_token %} 
                    <div class="form-group">
                        <div class="col-sm-8">
                            <label for="id_name" class="control-label pull-left"> Title: </label>
                            {{ postOptionsForm.name}}
                        </div>
                        <div class="col-sm-5">
                            <h4 class='pull-left'> Choose where to post:</h4> <br>
                            <div class="col-sm-5">
                                <table class='pull-left'>
                                   
                                    {% if keychk.steemchk is True %}
                                    <tr> 
                                            <td> Steem</td>
                                            <td> {{ postOptionsForm.steem}}</td>
                                        </tr>
                                    {% endif %}
                                    {% if keychk.smokechk is True %}
                                    <tr> 
                                            <td> Smoke</td>
                                            <td> {{ postOptionsForm.smoke}}</td>
                                    </tr>
                                    {% endif %}
                                    {% if keychk.whalechk is True %}
                                        <tr> 
                                            <td> Whale</td>
                                            <td> {{ postOptionsForm.whale}}</td>
                                        </tr>
                                    {% endif %}
                                </table>
                             </div>

                        </div>

                    </div>

                    <div class="col-sm-4" style="margin-left:1.8em">
                        <button type="submit" class="btn btn-cv1">Publish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

