

{% load staticfiles %}

<div class="container-fluid bg-image">
    <div class="row">
        <div class="login-wraper">

            <div class="banner-text hidden-xs">
                <div class="line"></div>
                <div class="b-text text-white">
                    Watch</span> <span class="color-active">millions of</span> <span class="color-b1">v</span><span class="color-b2">i</span><span
                        class="color-b3">de</span><span class="color-active">os</span> for free.
                </div>
                <div class="overtext">
                    Over 6000 videos uploaded Daily.
                </div>
            </div>
            <div class="login-window p-3">
                
                <div class="col-md-3 col-sm-1">

                </div>
                <div class="col-md-6 col-sm-10 l-form " style="border-radius:10px; margin-bottom:5%">
                        <div class="">
                                <h3 class="text-white">Link your Smoke account</h3>
                            </div>
                            <form action="" method="POST" enctype='multipart/form-data'>

                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        <ul>
                                        {% for field in form %}
                                            {% if field.errors %}
                                            {% for error in field.errors %}
                                                <li> {{ error|escape }}</li>
                                            {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                        {% if form.non_field_errors %}
                                            {{ form.non_field_errors }}
                                        {% endif %}
                                    </div>
                                {% endif %}
        
                                {% csrf_token %}}
                                <div class="form-group">
                                        <label>Smoke Username</label>
                                        {{ form.smoke_name }}
                                    </div>
                                    
                                    <div class="form-group">
                                        <label>Private Posting Key</label>
                                        {{ form.smoke }}
                                    </div>


                                    <div class="row">
                                            <div class="col-md-12 col-sm-10 p-0"><div class="col-md-12 col-sm-12"><button type="submit" class="btn btn-cv1">Update</button></div></div>
                                            <div class="col-md-12 col-sm-12">
                                                <br>
                                                <a class="navbar-brand" href="{% url 'register:whale_blockchain' %}">
                                                        <strong style="color:#EA2C5A">Skip</strong>
                                                    </a>
                                                        <a class="navbar-brand" href="#"><strong style="color:#EA2C5A">/<strong></a>
                                                <a class="navbar-brand" href="{% url 'core:index' %}">
                                                        <strong style="color:#EA2C5A">Skip All</strong>
                                                    </a>
                                                        
    
                                            </div>
    
                                        </div>
    
                            </form>


                            
                </div>
                <div class="col-md-3 col-sm-1">

                    </div>
            </div>
        </div>
    </div>
</div>