<style type="text/css">
    BODY {

    }

    .message {
        width: 300px;
        background-color: #faf0e6;
        border-radius: 10px;
    }

    .message * {
        padding: 10px;
    }

    .title {
        font-weight: bold;
    }

    /* BEGIN COMMENTS */

    .comment {
        padding: 10px;
        margin: 10px;
        position: relative;
    }

    .comment_li {
        list-style: none;

    }

    .comment_last {
        padding: 10px;
        margin: 10px;
    }

    .comment_info {
        line-height: 24px;
        position: relative;
    }

    .comment_user {
        text-decoration: underline;
        margin-right: 10px;
        font-weight: bold;
        color: #666;
        font-size: .99em;
        cursor: pointer;
        float: left;
    }

    .comment_data {
        font-size: 11px;
        color: #666;
        margin-top: 10px;
    }

    .comment_text {
        margin-top: 10px;
        float: inherit;
        font-size: 1.08em;
        color: black;
    }

    .comment_reply_link {
        color: #004276;
        outline: none;
        text-decoration: none;
        vertical-align: baseline;
    }

    .comments_length {
        padding-left: 15px;
        font-weight: bold;
    }

    #id_comment{
        height:100px;
    }
    #form-comment {
        padding: 5px;
        margin: 5px;
        background-color: #424242;
        border-radius:5px;
        width: 500px;
    }

    form label {
        display:none;
    }

    label[for=id_honeypot],
    #id_honeypot {
      display: none;
    }

    #cancel_reply {
        display: none;
    }

    .comments #cancel_reply {
      display: inline;
    }

    /* END COMMENTS */

</style>

{% load threadedcomments_tags %}

<div class="comments_length">
    <p>{{ comment_list|length }} Comments</p>
</div>
<form>
    {% csrf_token %}
</form>
<div class="comments">
    {% for comment in comment_list|fill_tree|annotate_tree %}
        {% if comment.open %}
            <ul>
        {% else %}
            </li>
        {% endif %}
        <li class="comment_li" id="c{{ comment.id }}">{# c## is used by the absolute URL of the Comment model, so keep that as it is. #}
            <div class="comment">
                <div class="comment_info">
                    <div class="comment_user" style="color: #ea2c5a !important; text-decoration:none;">{{ comment.name }}</div>
                    <div class="comment_data">
                        {{ comment.submit_date|date:"d M Y, H:i" }}
                        
                    </div>
                </div>
                <div class="comment_text" style="color:lightgrey;">
                    {{ comment.comment }}
                </div>
                <span style="color:lightgrey; font-size:13px; cursor:pointer;" onclick ="commentLike({{ comment.id }})"><i class="fas fa-thumbs-up" id="like_{{ comment.id }}"></i>&nbsp;<span id="totalLikes_{{ comment.id }}">{{ comment.likes }}</span></span>
                &nbsp; &nbsp; 
                <span style="color:lightgrey; font-size:13px; cursor:pointer;" onclick ="commentDislike({{ comment.id }})"><i class="fas fa-thumbs-down" id="dislike_{{ comment.id }}"></i>&nbsp;<span id="totalDislikes_{{ comment.id }}">{{ comment.dislikes }}</span></span>
                &nbsp; &nbsp; 
                <a href="#c{{ comment.id }}" data-comment-id="{{ comment.id }}" class="comment_reply_link" style="color: #ea2c5a !important;">Reply</a>
            </div>
            {% for close in comment.close %}</li></ul>{% endfor %}

    {% endfor %}
</div>

<script>
function commentLike(comment_id){
                
        $.ajax({
                            method:"POST",
                            url:"/commentLike/",
                            data: {'comment_id': comment_id,
                                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
    
                            },
                            success: function(data){
                                if (data.status == '1'){
                                    document.getElementById('totalDislikes_'+comment_id).innerHTML = data.totalDislike;
                                    document.getElementById('totalLikes_'+comment_id).innerHTML = data.totalLike;
                                    
                                }
                                else{
                                    alert('already liked');
                                }
    
                            }
                        });
                        return false; //<---- move it here
      }

      function commentDislike(comment_id){
                
                $.ajax({
                                    method:"POST",
                                    url:"/commentDislike/",
                                    data: {'comment_id': comment_id,
                                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            
                                    },
                                    success: function(data){
                                        if (data.status == '1'){
                                            document.getElementById('totalDislikes_'+comment_id).innerHTML = data.totalDislike;
                                            document.getElementById('totalLikes_'+comment_id).innerHTML = data.totalLike;
                                            
                                        }
                                        else{
                                            alert('already disliked');
                                        }
            
                                    }
                                });
                                return false; //<---- move it here
              }
      
      </script>