{% extends 'register/base.html' %}

{% block title %} Sign Up {% endblock title %}

{% block navigation %}

{% include "core/navbar.html" %}

{% endblock navigation %}

{% block content %}


<div class="container-fluid bg-image">
    <div class="row">
        <div class="login-wraper">

            <div class="banner-text hidden-xs">
                <div class="line"></div>
                <div class="b-text text-white">
                    Watch</span> <span class="color-active"></span> <span class="color-b1">v</span><span class="color-b2">i</span><span
                        class="color-b3">de</span><span class="color-active">os</span> for free.
                </div>
                <div class="overtext">
                    About our company
                </div>
            </div>
            <div class="login-window p-3">
                
                <div class="col-md-3 col-sm-1">

                </div>
                <div class="col-md-6 col-sm-10 l-form " style="border-radius:10px; margin-bottom:5%">
                            
                </div>
                <div class="col-md-3 col-sm-1">

                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}