{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href='{% static "images/logo.png" %}'>

    <title>{% block title %} {% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <script src='{% static "js/jquery.min.js" %}'></script>
    <!-- Theme CSS -->
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <link rel="stylesheet" href='{% static "css/mystyle.css" %}'>
    <link rel="stylesheet" href='{% static "css/font-awesome.css" %}'>
    <link rel="stylesheet" href='{% static "css/font-circle-video.css" %}'>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.4.7/plyr.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131940060-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-‎131940060-1');
    </script>

    <!-- font-family: 'Hind', sans-serif; -->
    <link href='https://fonts.googleapis.com/css?family=Hind:400,300,500,600,700|Hind+Guntur:300,400,500,700' rel='stylesheet'
        type='text/css'>
        <style>
        .thumbnailImage{
            height:200px !important;
        }

        .light.light-text{
            color:grey;
        }

        {% if request.session.light_on is True %}
        .text-white{
            color:grey !important;
        } 
        {% elif request.session.light_on is False %}
        .text-white{
            color:white !important;
        }  
        {% endif %}
        
        .t-img {
        
        border-radius: 2px;
        position: relative;
    
    }

    .t-img .time {

    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #373933;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    color: #fff;
    font-size: 14px;
    padding: 6px 9px 1px 9px;
    line-height: 14px;
    font-weight: 500;

    }
        </style>
   
        <script>   
                function changeAutoplay(){
                    $.ajax({
                                     method:"POST",
                                     url:"/autoplay/",
                                     data: {
                                            'stat': $('#autoplaystat').val(),
                                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                                            },
                                     success: function(data){
                                        location.reload();
                                     }
                                });
                                return false; //<---- move it here
                
                }

                function changeNSFW(){
                    $.ajax({
                                     method:"POST",
                                     url:"/nsfw_status/",
                                     data: {
                                            'stat': $('#nsfwstat').val(),
                                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                                            },
                                     success: function(data){
                                        location.reload();
                                     }
                                });
                                return false; //<---- move it here
                
                }

                function changeLight(){
                    $.ajax({
                                     method:"POST",
                                     url:"/light/",
                                     data: {
                                            'light': $('#id_light').val(),
                                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                                            },
                                     success: function(data){
                                        location.reload();
                                     }
                                });
                                return false; //<---- move it here
                
                }
                
                
                    $(document).ready(function() {
                           $("#videolikeform").submit(function(event){
                                event.preventDefault();
                                $('#tu').css('color','#ea2c5a');
                                $('#td').css('color','#ffffff');
                                $.ajax({
                                     method:"POST",
                                     url:"/like/",
                                     data: {
                                            'likevideoID': $('#vidID').val(),
                                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                                            },
                                     success: function(data){
                                        if (data.alreadyLiked == false){
                                            $("#totalLikes").text(data.totalLike);
                                            $("#totalDisLikes").text(data.totalDislike);
                
                                        }
                                     }
                                });
                                return false; //<---- move it here
                           });
                    
                    });
                    
                    $(document).ready(function() {
                           $("#videodislikeform").submit(function(event){
                                event.preventDefault();
                                $('#td').css('color','#ea2c5a');
                                $('#tu').css('color','#ffffff');
                                $.ajax({
                                     method:"POST",
                                     url:"/dislike/",
                                     data: {
                                            'dislikevideoID': $('#vidID').val(),
                                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                                            },
                                     success: function(data){
                                        if (data.alreadyDisliked == false){
                                            $("#totalDisLikes").text(data.totalDisLike);
                                            $("#totalLikes").text(data.totalLike);
                                        }
                                     }
                                });
                                return false; //<---- move it here
                           });
                    
                    });
                
                    $(document).ready(function() {
                           $("#addcommentForm").submit(function(event){
                                event.preventDefault();
                                $.ajax({
                                     method:"POST",
                                     url:"/comments/addComment/",
                                     data: {
                                            'id_comment': $('#id_comment').val(),
                                            'id_video': $('#vidID').val(),
                                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                                            },
                                     success: function(data){
                                        if (data.status == 'success'){
                                            document.getElementById('id_comment').innerHTML = '';
                                            var cmnt ="<div class='cl-comment'>"+
                                                "<div class='cl-avatar'><a href='/channel/"+data.uid+"/'><img src='https://gateway.ipfs.io/ipfs/"+data.profilepic+"' style='height:80px; width:80px; border-radius:100px;' alt=''></a></div>"+
                                                "<div class='cl-comment-text'>"+
                                                    "<div class='cl-name-date'><a href='/channel/"+data.uid+"/'>"+data.userName+"</a></div>"+
                                                    "<div class='cl-text'>"+data.comment+"</div>"+
                                                "</div>"+
                                                "<div class='clearfix'></div></div>";
                                            $('#cmntbox').prepend(cmnt)
                                        }
                                        else{
                                            document.getElementById('ertxt').innerHTML = 'Error while posting. Please try again later.';
                                        }
                                     }
                                });
                                return false; //<---- move it here
                           });
                    
                    });
                
                var refsd =''
                function addreply(comment_id){
                
                    $.ajax({
                                        method:"POST",
                                        url:"/comments/commentReplies/",
                                        data: {'comment_id': $('#comment_id_'+comment_id).val(),
                                                'reply':$('#reply_'+comment_id).val(),
                                                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                
                                        },
                                        success: function(data){
                                            if (data.status == 'success'){
                                                document.getElementById('id_comment').innerHTML = '';
                                                var cmnt ="<div class='cl-comment-reply'>"+
                                                                "<div class='cl-avatar'><a href='/channel/"+data.uid+"/'><img src='https://gateway.ipfs.io/ipfs/"+data.profilepic+"' style='height:50px; width:50px; border-radius:100px;' alt=''></a></div>"+
                                                                        "<div class='cl-comment-text'>"+
                                                                            "<div class='cl-name-date'><a href='/channel/"+data.uid+"/'>"+data.userName+"</a></div>"+
                                                                            "<div class='cl-text'>"+data.comment+"</div>"+
                                                                        "</div>"+
                                                                        "<div class='clearfix'></div></div>";
                                                var di = '#replyFor'+ data.cmnt_id;
                                                $(di).append(cmnt)
                                            }
                
                                        }
                                    });
                                    return false; //<---- move it here
                  }
                
                    
                   
                
                    </script>
</head>

<body class="channel single-video {% if request.session.light_on is True %} light {% elif request.session.light_on is False %} dark {% endif %}">

        <div class="container-fluid">
                <div class="row">
                    <div class="btn-color-toggle">
                            <form  method="POST">{% csrf_token %}
                                    {% if request.session.light_on is True %}
                                        <input type="hidden" name="light" class="grey" value="False" id="id_light" >&nbsp; <img src="{% static 'images/icon_bulb_light.png' %}" style="cursor: pointer" onclick = "changeLight()" alt="">
                                    {% elif request.session.light_on is False %}
                                        <input type="hidden" name="light" value="True" class="grey" id="id_light"> &nbsp; <img src="{% static 'images/icon_bulb_dark.png' %}" style="cursor: pointer" onclick = "changeLight()" alt="">    
                                    {% endif %}
                            </form>
                           
                    </div>
                    <div class="navbar-container">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-3 visible-xs">
                                    <a href="#" class="btn-menu-toggle"><i class="cv cvicon-cv-menu"></i></a>
                                </div>

                                <div class="col-lg-1 col-sm-2 col-xs-6">
                                        <a class="navbar-brand" href="{% url 'core:index' %}">
                                                <img src="{% static "images/logo.png" %}" alt="Vid Social logo" class="logo" />
                                                <span>Vid Social</span>
                                            </a>
                                </div>
                                <div class="col-lg-5 col-sm-8 col-xs-3">
                                        <form action="search.html" method="post">
                                            <div class="topsearch">
                                                <i class="cv cvicon-cv-cancel topsearch-close"></i>
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search"></i></span>
                                                    <input type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon2">
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="cv cvicon-cv-video-file"></i>&nbsp;&nbsp;&nbsp;<span class="caret"></span></button>/
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#"><i class="cv cvicon-cv-relevant"></i> Relevant</a></li>
                                                            <li><a href="#"><i class="cv cvicon-cv-calender"></i> Recent</a></li>
                                                            <li><a href="#"><i class="cv cvicon-cv-view-stats"></i> Viewed</a></li>
                                                            <li><a href="#"><i class="cv cvicon-cv-star"></i> Top Rated</a></li>
                                                            <li><a href="#"><i class="cv cvicon-cv-watch-later"></i> Longest</a></li>
                                                        </ul>
                                                    </div><!-- /btn-group -->
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-2 col-sm-4 hidden-xs">
                                            <div onclick = "changeNSFW()" style="cursor: pointer" class="avatar pull-left hidden-xs">
                                                    <form id="changeNSFWSTATUS" method="POST">{% csrf_token %}
                                                            {% if request.session.display_nsfw is True %}
                                                                <i class="cv fas fa-toggle-on" style="font-size: 22px; color: #28b47e;"></i>
                                                                <input type="hidden" name="nsfw" class="grey" value="False" id="nsfwstat" >&nbsp;<span style="color:#7e7e7e !important;">NSFW</span>
                                                            {% elif request.session.display_nsfw is False %}
                                                                <i class="cv fas fa-toggle-off" style="font-size: 22px;"></i>
                                                                <input type="hidden" name="nsfw" value="True" class="grey" id="nsfwstat"> &nbsp;<span style="color:#7e7e7e !important;">NSFW</span>    
                                                            {% endif %}
                                                    </form>
                                                </div>
                                    </div>
                                <div class="col-lg-4 col-sm-4 hidden-xs">
                                       

                                    {% if request.user.is_authenticated %}
                                    <div class="avatar pull-left">
                                        <img src='https://gateway.ipfs.io/ipfs/{{ request.user.profile_picture }}' alt="avatar" style="width:5rem; height:5rem; border-radius:50%">
                                        <span class="status"></span>
                                    </div>
                                    <div class="selectuser pull-left">
                                        <div class="btn-group pull-right dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                {{ request.user.first_name }} {{ request.user.last_name }}
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <form id="changeNSFWSTATUS" method="POST">{% csrf_token %}
                                                            {% if request.session.display_nsfw is True %}
                                        
                                                                <input type="checkbox" name="nsfw" value="False" id="nsfwstat" onchange = "changeNSFW()" checked> <span> NSFW</span>  
                                                                
                                                            {% elif request.session.display_nsfw is False %}
                                                                <input type="checkbox" name="nsfw" value="True" id="nsfwstat" onchange = "changeNSFW()"><span> NSFW</span>    
                                                            {% endif %}
                                                    </form>
                                                </li>
                                                <li><a href="{% url 'single_channel:mychannel' request.user.id  %}">My Channel</a></li>
                                                <!-- <li><a href="/channel/myprofile/{{ request.user.id }}/">My Settings</a></li> -->
                                                <li><a href="{% url 'logout:logout' %}">Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="loginsignup pull-left">
                                        <a href="{% url 'login:login' %}">Login</a> . <a href="{% url 'register:register' %}">Signup</a>
                                    </div>
                                    {% endif %}
                                    
                                </div>
                            </div>
                            
            
            
                            <div class="hidden-xs">
                                <a href="{% url 'upload:index' %}">
                                    <div class="upload-button" style="height:45px !important; width:45px !important; right:1px !important;">
                                        <i class="cv cvicon-cv-upload-video" style="font-size:15px;"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if request.user.is_authenticated %}
            <div class="mobile-menu">
                    <div class="mobile-menu-head">
                        <a href="#" class="mobile-menu-close"></a>
                        <a class="navbar-brand" href="{% url 'core:index' %}">
                                <img src="{% static "images/logo.png" %}" alt="Vid Social logo" class="logo" />
                                <span>Vid Social</span>
                            </a>
                    </div>
                    <div class="mobile-menu-content">
                        <div class="mobile-menu-user">
                            <div class="mobile-menu-user-img">
                                    <img src='https://gateway.ipfs.io/ipfs/{{ request.user.profile_picture }}' alt="avatar" style="width:5rem; height:5rem; border-radius:50%">
                            </div>
                            <p>{{ request.user.first_name }} {{ request.user.last_name }} </p>
                            <span class="caret"></span>
                        </div>
                        <a href="{% url 'upload:index' %}" class="btn mobile-menu-upload">
                                <i class="cv cvicon-cv-upload-video"></i>
                            <span>Upload Video</span>
                            </a>
                        <div class="mobile-menu-list">
                            <ul>
                                <li>
                                    <a href="{% url 'single_channel:mychannel' request.user.id  %}">
                                        <i class="cv cvicon-cv-play-circle"></i>
                                        <p>My Channel</p>
                                    </a>
                                </li>
                                <li onclick = "changeNSFW()" style="cursor: pointer">
                                        <form id="changeNSFWSTATUS" method="POST">{% csrf_token %}
                                                {% if request.session.display_nsfw is True %}
                                                    <i class="cv fas fa-toggle-on" style="font-size: 22px;"></i>
                                                    <input type="hidden" name="nsfw" class="grey" value="False" id="nsfwstat" >&nbsp;<span style="color:#7e7e7e !important;"> NSFW ON</span>
                                                {% elif request.session.display_nsfw is False %}
                                                    <i class="cv fas fa-toggle-off" style="font-size: 22px;"></i>
                                                    <input type="hidden" name="nsfw" value="True" class="grey" id="nsfwstat"> &nbsp;<span style="color:#7e7e7e !important;"> NSFW OFF</span>    
                                                {% endif %}
                                        </form>
                                </li>
                                <li onclick = "changeLight()" style="cursor: pointer" >
                                        <form  method="POST">{% csrf_token %}
                                            {% if request.session.light_on is True %}
                                                <input type="hidden" name="light" class="grey" value="False" id="id_light" ><img src="{% static 'images/icon_bulb_light.png' %}" style="cursor: pointer"  alt=""> &nbsp; <span style="color:#7e7e7e !important;"> LIGHT ON</span>
                                            {% elif request.session.light_on is False %}
                                                <input type="hidden" name="light" value="True" class="grey" id="id_light"><img src="{% static 'images/icon_bulb_dark.png' %}" style="cursor: pointer"  alt="">&nbsp; <span style="color:#7e7e7e !important;">LIGHT OFF</span>
                                            {% endif %}
                                        </form>
                                </li>

                            </ul>
                        </div>
                        <a href="{% url 'logout:logout' %}" class="btn mobile-menu-logout">Log out</a>
                    </div>
                </div>
                {% else %}
                <div class="mobile-menu">
                    <div class="mobile-menu-head">
                        <a href="#" class="mobile-menu-close"></a>
                        <a class="navbar-brand" href="{% url 'core:index' %}">
                                <img src="{% static "images/logo.png" %}" alt="Vid Social logo" class="logo" />
                                <span>Vid Social</span>
                            </a>
                        <div class="mobile-menu-btn-color">
                            <img src="images/icon_bulb_light.png" alt="">
                        </div>
                    </div>
                    <div class="mobile-menu-content">

                        <a href="{% url 'login:login' %}" class="btn mobile-menu-upload">
                                <i class="cv cvicon-cv-upload-video"></i>
                            <span>Upload Video</span>
                            </a>
                        <div class="mobile-menu-list">
                            <ul>
  
                                
                            </ul>
                        </div>
                        <a href="{% url 'login:login' %}" class="btn mobile-menu-logout">Login</a>
                        <a href="{% url 'register:register' %}" class="btn mobile-menu-logout">Signup</a>

                    </div>
                </div>
                {% endif %}






{% block extra %} {% endblock extra %}

    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                
                {% block content %} {% endblock content %}
                    
            </div>
        </div>
    </div>

    {% include "core/footer.html" %}


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

    
    <script src='{% static "js/aja.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <script src='{% static "js/custom.js" %}'></script>
    <script src="https://cdn.plyr.io/3.4.7/plyr.polyfilled.js"></script>
    
    {% block plyrScript %} {% endblock plyrScript%}
</body>
