{% load staticfiles %}

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="container padding-def">
                <div class="col-lg-1  col-sm-2 col-xs-12 footer-logo">
                    <!--<a class="navbar-brand" href="index.html"><img src="images/logo.svg" alt="Project name" class="logo" /></a>-->
                    <a class="navbar-brand" href="index.html">
                        <img src='{% static "images/logo.png" %}' alt="Project name" class="logo" />
                        <span>Circle</span>
                    </a>
                </div>
                <div class="col-lg-7 col-sm-6 col-xs-12">
                    <div class="f-links">
                        <ul class="list-inline">
                            <li><a href="/about">About</a></li>
                            <li><a href="https://medium.com/@engepranish">Press</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="advertise.io">Advertise</a></li>
                            <li class="hidden-xs"><a href="/help">Help</a></li>
                        </ul>
                    </div>
                    <div class="delimiter"></div>
                </div>
                <div class="col-lg-7 col-sm-6 col-xs-12">
                    <div class="f-copy">
                        <ul class="list-inline">
                            <li>COPYRIGHT {% now "Y" %} @ FIASTEEM PUBLIC DAC</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-1  col-sm-2 col-xs-12"></div>
                <div class=" col-lg-11 col-sm-10 col-xs-12 pull-right">
                    <div class="f-last-line">
                        <div class=" pull-left">
                            <a href="https://smoke.io/@fiasteem"><img src="https://pbs.twimg.com/profile_images/960967650007502848/wy4CZXBB_400x400.jpg" style="height:30px; width:30px; border-radius:10px;"></a>
                            <a href="https://whaleshares.io/@fiasteemproject"><img src="https://whaleshares.io/imageupload_data/3c6d93df736e77c4df4bbc3c89f532c5cbac1621" style="height:30px; width:30px; border-radius:10px;"></a>
                            <a href="https://steemit.com/@fiasteem"><img src="https://avatars0.githubusercontent.com/u/17434692?s=400&v=4" style="height:30px; width:30px; border-radius:10px;"></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="delimiter visible-xs"></div>
                </div>
            </div>
        </div>
    </div>
</footer>