{% load staticfiles %}
<style>
.thumbnailImage{
    height:200px !important;
}
</style>
<div class="container-fluid">
    <div class="row">
        <div class="btn-color-toggle">

        <img src='{% static "images/icon_bulb_light.png" %}' alt="">
        </div>
        <div class="navbar-container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 visible-xs">
                        <a href="#" class="btn-menu-toggle"><i class="cv cvicon-cv-menu"></i></a>
                    </div>
                    <div class="col-lg-1 col-sm-4 col-xs-7">
                        <a class="navbar-brand" href="{% url 'core:index' %}">
                            <img src="{% static "images/logo.png" %}" alt="Vid Social" class="logo" />
                            <span>Vid Social</span>
                        </a>
                    </div>
                    <div class="col-lg-1 col-sm-10 hidden-xs">
                        <ul class="list-inline menu">
                            <li><a href="channel.html">Channels</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-sm-8 col-xs-3">
                        <form action="search.html" method="post">
                            <div class="topsearch">
                                <i class="cv cvicon-cv-cancel topsearch-close"></i>
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search"></i></span>
                                    <input type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon2">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"><i class="cv cvicon-cv-video-file"></i>&nbsp;&nbsp;&nbsp;<span
                                                class="caret"></span></button>/
                                        <ul class="dropdown-menu">
                                            <li><a href="#"><i class="cv cvicon-cv-relevant"></i> Relevant</a></li>
                                            <li><a href="#"><i class="cv cvicon-cv-calender"></i> Recent</a></li>
                                            <li><a href="#"><i class="cv cvicon-cv-view-stats"></i> Viewed</a></li>
                                            <li><a href="#"><i class="cv cvicon-cv-star"></i> Top Rated</a></li>
                                            <li><a href="#"><i class="cv cvicon-cv-watch-later"></i> Longest</a></li>
                                        </ul>
                                    </div><!-- /btn-group -->
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4 col-sm-4 hidden-xs">
                        {% if request.user.is_authenticated %}
                        <div class="avatar pull-left">
                            <img src='https://gateway.ipfs.io/ipfs/{{ request.user.profile_picture }}' alt="avatar" style="width:5rem; height:5rem; border-radius:50%">
                            <span class="status"></span>
                        </div>
                        <div class="selectuser pull-left">
                            <div class="btn-group pull-right dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{ request.user.first_name }} {{ request.user.last_name }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'single_channel:mychannel' request.user.id  %}">My Profile</a></li>
                                    <li><a href="{% url 'logout:logout' %}">Logout</a></li>
                                    
                                    <li>{{ request.user.email }}</li>
                                </ul>
                            </div>
                        </div>
                        {% else %}
                        <div class="loginsignup pull-right">
                            <a href="{% url 'login:login' %}">Login</a> . <a href="{% url 'register:register' %}">Signup</a>
                        </div>
                        {% endif %}

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="hidden-xs">
                    <a href="{% url 'upload:index' %}">
                        <div class="upload-button">
                            <i class="cv cvicon-cv-upload-video"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>    


    $(document).ready(function() {
           $("#videolikeform").submit(function(event){
                event.preventDefault();
                $('#tu').css('color','#ea2c5a');
                $('#td').css('color','#ffffff');
                $.ajax({
                     method:"POST",
                     url:"/like/",
                     data: {
                            'likevideoID': $('#vidID').val(),
                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                            },
                     success: function(data){
                        if (data.alreadyLiked == false){
                            $("#totalLikes").text(data.totalLike);
                            $("#totalDisLikes").text(data.totalDislike);

                        }
                     }
                });
                return false; //<---- move it here
           });
    
    });
    
    $(document).ready(function() {
           $("#videodislikeform").submit(function(event){
                event.preventDefault();
                $('#td').css('color','#ea2c5a');
                $('#tu').css('color','#ffffff');
                $.ajax({
                     method:"POST",
                     url:"/dislike/",
                     data: {
                            'dislikevideoID': $('#vidID').val(),
                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                            },
                     success: function(data){
                        if (data.alreadyDisliked == false){
                            $("#totalDisLikes").text(data.totalDisLike);
                            $("#totalLikes").text(data.totalLike);
                        }
                     }
                });
                return false; //<---- move it here
           });
    
    });
    </script>
    
