{% load staticfiles %}
{% load i18n %}
<div class="content-block head-div head-arrow">

    <div class="cb-header">
        <div class="row">
            <div class="col-lg-10 col-sm-10 col-xs-8">
                <ul class="list-inline">
                    <li>
                        <a href="#" class="color-active">
                            <span class="hidden-xs">Trending videos</span>
                            <span class="visible-xs">Trending videos</span>
                        </a>
                    </li>
                    <li class="hidden-xs"><a href="#">Most Viewed</a></li>
                    <li>
                        <a href="#">
                            <span class="hidden-xs">Featured This Week</span>
                            <span class="visible-xs">Featured Videos</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-2 col-xs-4">
                <div class="btn-group pull-right bg-clean">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Sort by <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="cv cvicon-cv-relevant"></i> Relevant</a></li>
                        <li><a href="#"><i class="cv cvicon-cv-calender"></i> Recent</a></li>
                        <li><a href="#"><i class="cv cvicon-cv-view-stats"></i> Viewed</a></li>
                        <li><a href="#"><i class="cv cvicon-cv-star"></i> Top Rated</a></li>
                        <li><a href="#"><i class="cv cvicon-cv-watch-later"></i> Longest</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="cb-content videolist">
        <div class="row">
            <div class="row" id="trendVideosContainer">
            </div>
            <div class="col-md-3"></div>
            <div class='col-md-6'>
                <center >
                            <ul class="list-inline" id="trendingPagignation">
                        
                                </ul>
                    
                            </center>
            </div>
            <div class="col-md-3"></div>

        </div>
        

    </div>
    
</div>


<script>
var trendingVideos = {{trendingJSONdata|safe}} ;
console.log(trendingVideos);
var totalVid = Object.keys(trendingVideos).length;
var totalPagignation = totalVid/4;
var count = 0;

function display(page){
    $('#trendVideosContainer').html('');
    var displayUpto = 4 * page;

    trendingVideos.forEach(function(element) {
        
            if(count < displayUpto && count >= (displayUpto-4)){
                var all_hash =element.fields.video;
                var hash = JSON.parse(all_hash); 
                var vidHash ='';
                        if(hash['720']){
                            vidHash = hash['720'];
                        }
                        else if(hash['360']){
                            vidHash = hash['360'];
                        }
                        else if(hash['240']){
                            vidHash = hash['240'];
                        }

                var vid = "<div class='col-lg-3 col-sm-6 videoitem'><div class='b-video'><div class='t-img'>"+
                                "<a href='/watch/"+vidHash+"/"+element.pk+"/'>"+
                                        "<img src='https://gateway.ipfs.io/ipfs/"+element.fields.thumbNail+"' style='width:27.2rem; height:16rem;''></a>"+
                                        "<div class='time'>"+element.fields.duration+"</div>"+
                                        "</div>"+
                                        "<div class='v-desc'>"+
                                                "<a href='/watch/"+vidHash+"/"+element.pk+"/'>"+element.fields.name+"</a>"+
                                                "</div>"+
                                                "<div class='v-views'>"+
                                                        element.fields.views+" views<span class='v-percent'><span class='fa fa-dollar'></span> "+element.fields.total_earning+" </span>"+
                                                        "</div>"+
                                                        "</div>"+
                                                        "</div>";
                $('#trendVideosContainer').append(vid)
                
                
            }
            count++;
            
    });

    count = 0;

    $('#trendingPagignation').html('');

    for(var i=0; i< totalPagignation; i++){
        if (i==page-1){
        var paginate =   "<li><button disabled style='padding:5px;' onclick='display("+(i+1)+")'><span style='color:#ea2c5a !important;'><b>"+(i+1)+"</b></span></button></li>";
        $('#trendingPagignation').append(paginate);
        }
        else{
            var paginate =   "<li><button style='padding:5px;' onclick='display("+(i+1)+")'>"+(i+1)+"</button></li>";
            $('#trendingPagignation').append(paginate);
        }
    }
}
display(1);


</script>