{% extends 'core/base.html' %}

{% load staticfiles %}

{% block extra %}

<!-- channel -->
<div class="container-fluid">
        <div class="row">
                <div class="img">
                        <div class="img-image">
                                <img src='https://gateway.ipfs.io/ipfs/{{ channel_userr.channel_cover }}' alt="" class="c-banner" style="height:40vh; size:cover">                        </div>
                        <div class="c-avatar" style="border:2px solid rgb(234, 44, 90); border-radius:2px;">
                                <img src='https://gateway.ipfs.io/ipfs/{{ channel_userr.profile_picture }}' alt="">
                        </div>
                        <a href="#" class="add"><i class="cv cvicon-cv-plus"></i></a>
                        <div class="c-social hidden-xs">
                                Social
                                <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="gp"><i class="fa fa-google-plus"></i></a>
                        </div>
                </div>
        </div>
</div>
<!-- ///channel -->
<div class="channel-details">
        <div class="row">
                <div class="col-lg-10 col-md-10 col-lg-offset-2 col-xs-12">
                        <div class="c-details">
                                <div class="c-name">
                                        {{ channel }}
                                        <div class="c-checkbox">
                                                <img src="images/verified-profile-icon.png" alt="">
                                        </div>
                                </div>
                                <div class="c-nav">
                                        <ul class="list-inline">
                                            <li><a href="#" class="active">Videos</a></li>
                                            <li><a href="#">Playlist</a></li>
                                            <li class="#"><a href="#">About</a></li>
                                            <li class="#"><a href="/channel/myprofile/{{ request.user.id}}/">Settings</a></li>
                                        </ul>
                                        <div class="btn-group dropup pull-right">
                                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Discussion <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#"><i class="cv cvicon-cv-relevant"></i> Relevant</a></li>
                                                <li><a href="#"><i class="cv cvicon-cv-calender"></i> Recent</a></li>
                                                <li><a href="#"><i class="cv cvicon-cv-view-stats"></i> Viewed</a></li>
                                                <li><a href="#"><i class="cv cvicon-cv-star"></i> Top Rated</a></li>
                                                <li><a href="#"><i class="cv cvicon-cv-watch-later"></i> Longest</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="c-sub pull-right hidden-xs">
                                                <div class="c-sub-wrap">
                                                        <div class="c-f">Followers</div>
                                                                
                                                        <div class="c-s" id="followerCount">
                                                                {{ followerscount }}
                                                        </div>
                                                        <div class="clearfix"></div>
                                                </div>
                                        </div>
                                <div class="clearfix"></div>
                        </div>
                </div>
        </div>
</div>

{% endblock extra %}

{% block content %}
<script>

function Referral(){
    $("#userdetailtab").hide();
    $("#steemtab").hide();
    $("#whaletab").hide();
    $("#smoketab").hide();
    $("#referral").show();

}

function User(){
    $("#userdetailtab").show();
    $("#steemtab").hide();
    $("#whaletab").hide();
    $("#smoketab").hide();   
}

function Steem(){
    $("#steemtab").show();
    $("#whaletab").hide();
    $("#smoketab").hide();
    $("#userdetailtab").hide();
}

function Whale(){
    $("#whaletab").show();
    $("#smoketab").hide();
    $("#steemtab").hide();
    $("#userdetailtab").hide();
}

function Smoke(){
    $("#smoketab").show();
    $("#steemtab").hide();
    $("#whaletab").hide();
    $("#userdetailtab").hide();
}

{% if success == 'true' %}
    alert('Successfully updated.')
{% elif success == 'false'%}
    alert('The given data is invalid.')
{% endif %}

</script>

<div class="col-md-12" style="padding-top:5%; padding-bottom:5%;">

    <div class="col-md-3">
        <div class="tab-4">
                <div class="block-list">
                    <div onclick="User()">
                        <span class="name text-white ">Change User Details</span>
                    </div>
                    <div onclick="Steem()">
                        <span class="name text-white">Change Steem Key</span>
                    </div>
                    <div onclick="Smoke()">
                        <span class="name text-white">Change Smoke Key</span>
                    </div>
                    <div onclick="Whale()">
                        <span class="name text-white">Change Whale Share Key</span>
                    </div>
                    <div onclick="Referral()">
                        <span class="name text-white">Generate Referral Link</span>
                    </div>
                </div>
            </div>
            <!-- END tab-4 -->
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
                <div class="tab-4" id="userdetailtab">
                        <form action="/channel/detailUpdate/" method="POST" enctype='multipart/form-data'>{% csrf_token %}
                                <div class="block-list">
                                        <div>
                                               <h3 class="text-white"> Change User Details</h3>
                                        </div>
                                        <div>
                                                {{ userdetails.first_name}} 
                                        </div>
                                        <div>
                                                {{ userdetails.last_name}}
                                        </div>
                                        <div>
                                                {{ userdetails.bitshares}}
                                        </div>
                                        <div>
                                                {{ userdetails.channel_name}}
                                        </div>
                                        <div>
                                                        <span class='text-white' >Change channel cover pic:</span>{{ userdetails.channel_cover}}
                                        </div>
                                        <div>
                                                        <span class='text-white' >Change channel profile pic:</span> {{ userdetails.profile_picture}}
                                        </div> 
                                        <div>
                                                <button type="submit" class="btn btn-cv1">Update</button>
                                        </div>
                                
                                </div>
                        </form>
                </div>
                <div class="tab-4" id="referral" style="display:none">
                        <form action="/channel/steemUpdate/" method="POST" enctype='multipart/form-data'>{% csrf_token %}
                                <div class="block-list">
                                        <div>
                                                <h3 class="text-white"> Your Referral Like</h3>
                                        </div>
                                        <div>
                                                {{ steemForm.steem_name}} 
                                        </div>
                                        <div>
                                                {{ steemForm.steem}}
                                        </div>
                                        <div>
                                                <button type="submit" class="btn btn-cv1">Update</button>
                                        </div>
                                
                                </div>
                        </form>
                </div>
            <div class="tab-4" id="steemtab" style="display:none">
                    <form action="/channel/steemUpdate/" method="POST" enctype='multipart/form-data'>{% csrf_token %}
                        <div class="block-list">
                                <div>
                                        <h3 class="text-white"> Change Steem Key</h3>
                                </div>
                                <div>
                                        {{ steemForm.steem_name}} 
                                </div>
                                <div>
                                        {{ steemForm.steem}}
                                </div>
                                <div>
                                        <button type="submit" class="btn btn-cv1">Update</button>
                                </div>
                            
                        </div>
                    </form>
                </div>
                <div class="tab-4" id="smoketab" style="display:none">
                        <form action="/channel/smokeUpdate/" method="POST" enctype='multipart/form-data'>{% csrf_token %}
                            <div class="block-list">
                                        <div>
                                                        <h3 class="text-white"> Change Smoke Key</h3>
                                                </div>
                                    <div>
                                            {{ smokeForm.smoke_name}} 
                                    </div>
                                    <div>
                                            {{ smokeForm.smoke}}
                                    </div>
                                    <div>
                                            <button type="submit" class="btn btn-cv1">Update</button>
                                    </div>
                                
                            </div>
                        </form>
                    </div>
                    <div class="tab-4" id="whaletab" style="display:none">
                            <form action="/channel/whaleUpdate/" method="POST" enctype='multipart/form-data'>{% csrf_token %}
                                <div class="block-list">
                                        <div>
                                                        <h3 class="text-white"> Change Whale Key</h3>
                                                </div>
                                        <div>
                                                {{ whaleForm.whaleshare_name}} 
                                        </div>
                                        <div>
                                                {{ whaleForm.whaleshare}}
                                        </div>
                                        <div>
                                                <button type="submit" class="btn btn-cv1">Update</button>
                                        </div>
                                    
                                </div>
                            </form>
                        </div>
                <!-- END tab-4 -->
        </div>
</div>    

<script>
                function followUnfollow(){
                   $.ajax({
                                   method:"POST",
                                   url:"/followUnfollow/",
                                   data: {
                                           'followUnfollowID': "{{ channel_user }}",
                                           'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                                           },
                                   success: function(data){
                                           // location.reload();
                                           if (data.status == '1'){
                                                   document.getElementById('funf').innerHTML = 'Unfollow';
                                                   var count  = $('#followerCount').val();
                                           }
                                           else if(data.status == '0'){
                                                   document.getElementById('funf').innerHTML = 'Follow';
                                                   var count  = $('#followerCount').val();
                                                    
                                           }
                                   }
                                   });
                                   return true; //<---- move it here
        
                   }
           
           </script>
{% endblock content %}

{% block title %} {{ channel }} {% endblock title %}
