{% extends 'single_channel/base.html' %}

{% load staticfiles %}

{% block navigation %}
        {% include "core/navbar.html" %}

{% endblock navigation %}


{% block content %}
<script>
function User(){

}

function User(){
    $("#userdetailtab").show();
    $("#steemtab").hide();
    $("#whaletab").hide();
    $("#smoketab").hide();
    
    
}

function Steem(){
    $("#steemtab").show();
    $("#whaletab").hide();
    $("#smoketab").hide();
    $("#userdetailtab").hide();
}

function Whale(){
    $("#whaletab").show();
    $("#smoketab").hide();
    $("#steemtab").hide();
    $("#userdetailtab").hide();
}

function Smoke(){
    $("#smoketab").show();
    $("#steemtab").hide();
    $("#whaletab").hide();
    $("#userdetailtab").hide();
}

{% if success == 'true' %}
    alert('Successfully updated.')
{% elif success == 'false'%}
    alert('The given data is invalid.')
{% endif %}

</script>

<div class="col-md-12" style="padding-top:5%; padding-bottom:5%;">

    <div class="col-md-3">
        <div class="tab-4">
                <div class="block-list">
                    <div onclick="User()">
                        <span class="name text-white">Change User Details</span>
                    </div>
                    <div onclick="Steem()">
                        <span class="name text-white">Change Steem Key</span>
                    </div>
                    <div onclick="Smoke()">
                        <span class="name text-white">Change Smoke Key</span>
                    </div>
                    <div onclick="Whale()">
                        <span class="name text-white">Change Whale Share Key</span>
                    </div>
                </div>
            </div>
            <!-- END tab-4 -->
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
                <div class="tab-4" id="userdetailtab">
                        <form action="/channel/detailUpdate/" method="POST" enctype='multipart/form-data'>{% csrf_token %}
                                <div class="block-list">
                                        <div>
                                               <h3 class="text-white"> Change User Details</h3>
                                        </div>
                                        <div>
                                                {{ userdetails.first_name}} 
                                        </div>
                                        <div>
                                                {{ userdetails.last_name}}
                                        </div>
                                        <div>
                                                {{ userdetails.channel_name}}
                                        </div>
                                        <div>
                                                        <span class='text-white' >Change channel cover pic:</span>{{ userdetails.channel_cover}}
                                        </div>
                                        <div>
                                                        <span class='text-white' >Change channel profile pic:</span> {{ userdetails.profile_picture}}
                                        </div> 
                                        <div>
                                                <button type="submit" class="btn btn-cv1">Update</button>
                                        </div>
                                
                                </div>
                        </form>
                        </div>
            <div class="tab-4" id="steemtab" style="display:none">
                    <form action="/channel/steemUpdate/" method="POST" enctype='multipart/form-data'>{% csrf_token %}
                        <div class="block-list">
                                <div>
                                        <h3 class="text-white"> Change Steem Key</h3>
                                </div>
                                <div>
                                        {{ steemForm.steem_name}} 
                                </div>
                                <div>
                                        {{ steemForm.steem}}
                                </div>
                                <div>
                                        <button type="submit" class="btn btn-cv1">Update</button>
                                </div>
                            
                        </div>
                    </form>
                </div>
                <div class="tab-4" id="smoketab" style="display:none">
                        <form action="/channel/smokeUpdate/" method="POST" enctype='multipart/form-data'>{% csrf_token %}
                            <div class="block-list">
                                        <div>
                                                        <h3 class="text-white"> Change Smoke Key</h3>
                                                </div>
                                    <div>
                                            {{ smokeForm.smoke_name}} 
                                    </div>
                                    <div>
                                            {{ smokeForm.smoke}}
                                    </div>
                                    <div>
                                            <button type="submit" class="btn btn-cv1">Update</button>
                                    </div>
                                
                            </div>
                        </form>
                    </div>
                    <div class="tab-4" id="whaletab" style="display:none">
                            <form action="/channel/whaleUpdate/" method="POST" enctype='multipart/form-data'>{% csrf_token %}
                                <div class="block-list">
                                        <div>
                                                        <h3 class="text-white"> Change Whale Key</h3>
                                                </div>
                                        <div>
                                                {{ whaleForm.whaleshare_name}} 
                                        </div>
                                        <div>
                                                {{ whaleForm.whaleshare}}
                                        </div>
                                        <div>
                                                <button type="submit" class="btn btn-cv1">Update</button>
                                        </div>
                                    
                                </div>
                            </form>
                        </div>
                <!-- END tab-4 -->
        </div>
</div>              
{% endblock content %}

{% block title %} {{ channel }} {% endblock title %}
